<div>
    <h2 id="page-heading">
        <span jhiTranslate="veilletestApp.student.home.title">Students</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/student/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="veilletestApp.student.home.createLabel">
            Create a new Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="students?.length === 0">
        <span jhiTranslate="veilletestApp.student.home.notFound">No students found</span>
    </div>
    <div class="table-responsive" *ngIf="students?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="veilletestApp.student.name">Name</span></th>
            <th><span jhiTranslate="veilletestApp.student.firstName">First Name</span></th>
            <th><span jhiTranslate="veilletestApp.student.averageGrade">Average Grade</span></th>
            <th><span jhiTranslate="veilletestApp.student.classe">Classe</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td><a [routerLink]="['/student', student.id, 'view' ]">{{student.id}}</a></td>
                <td>{{student.name}}</td>
                <td>{{student.firstName}}</td>
                <td>{{student.averageGrade}}</td>
                <td>
                    <div *ngIf="student.classe">
                        <a [routerLink]="['/classe', student.classe?.id, 'view' ]" >{{student.classe?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/student', student.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student', student.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student', { outlets: { popup: student.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
